///
/// Admin theme styles
///

@import 'partials/_reset';
@import 'partials/_setup';

html {
	// Clear the toolbar.
	margin-top: 2rem !important;
}

body {
	position: relative;
	height: 100%;
}

///
/// Admin styles
///

:root {
	--cfe-sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--cfe-serif-stack: "Hoefler Text", "Baskerville Old Face", Garamond, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--font-weight: 700;
	--cfe-spacing--horz: 2rem;
	--cfe-spacing--vert: 2rem;
	--cfe-bg-color: #ffffff;
	--cfe-font-size: 1rem;
	--cfe-text-color: #333333;
	--cfe-link--text-color: #0044aa;
	--cfe-link--action--text-color: #005ce7;
	--cfe-link--transition: all 0.15s;
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--letter-spacing: -0.015em;
	--cfe-heading-primary--word-spacing: -0.0325em;
	--cfe-heading-secondary--font-size: 1.375rem;
	--cfe-heading-secondary--font-weight: 700;
	--cfe-heading-secondary--word-spacing: -0.0325em;
	--cfe-heading--link--text-decoration: none;
	--cfe-box-border-style: solid;
	--cfe-box-border-width: 1px;
	--cfe-box-border-color: #cccccc;
	--cfe-box-border: var( --cfe-box-border-style  ) var( --cfe-box-border-width  ) var( --cfe-box-border-color  );
}

@import 'partials/_menu';
@import 'partials/_tabs';

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	overflow-x: hidden;
  }

body {
	box-sizing: inherit;
	display: var( --cfe-body--display, block  );
	position: var( --cfe-body--position, relative  );
	width: var( --cfe-body--width  );
	height: var( --cfe-body--height, 100%  );
	max-width: var( --cfe-body--max-width, 2048px  );
	margin: var( --cfe-body--margin, 0 auto  );
	padding: var( --cfe-body--padding, 0  );
	font-family: var( --cfe-font-stack, var( --cfe-sans-stack, sans-serif  )  );
	font-size: var( --cfe-font-size, 1rem  );
	font-weight: var( --cfe-font-weight, normal  );
	font-style: var( --cfe-font-style, normal  );
	font-variant: var( --cfe-font-variant, normal  );
	letter-spacing: var( --cfe-letter-spacing, normal  );
	word-spacing: var( --cfe-word-spacing, normal  );
	line-height: var( --cfe-line-height, 1.5  );
	background-color: var( --cfe-bg-color  );
	background-image: var( --cfe-bg-image  );
	background-repeat: var( --cfe-bg-repeat  );
	background-position: var( --cfe-bg-position  );
	background-size: var( --cfe-bg-size  );
	background-attachment: var( --cfe-bg-attachment  );
	color: var( --cfe-text-color  );
}

*, *:before, *:after {
	box-sizing: inherit;
	backface-visibility: hidden;
}

*:before, *:after {
	font-size: inherit;
}

a {
	display: var( --cfe-link--display );
	position: var( --cfe-link--position );
	font-size: var( --cfe-link--font-size, inherit );
	font-weight: var( --cfe-link--font-weight, inherit );
	font-style: var( --cfe-link--font-style, normal );
	font-variant: var( --cfe-link--font-variant, normal );
	-webkit-text-decoration: var( --cfe-link--text-decoration, underline );
			text-decoration: var( --cfe-link--text-decoration, underline );
	text-transform: var( --cfe-link--text-transform, inherit );
	color: var( --cfe-link--text-color );
	transition: var( --cfe-link--transition );
}

a:hover, a:focus {
	color: var( --cfe-link--action--text-color );
}

a:before {
	content: var( --cfe-link--before--content );
	display: var( --cfe-link--before--display );
	position: var( --cfe-link--before--position );
	background-color: var( --cfe-link--before--bg-color );
}

a:after {
	content: var( --cfe-link--after--content );
	display: var( --cfe-link--after--display );
	position: var( --cfe-link--after--position );
	background-color: var( --cfe-link--after--bg-color );
}

h1,
h2 {
	font-family: var( --cfe-heading-primary--font-family );
	font-size: var( --cfe-heading-primary--font-size );
	font-weight: var( --cfe-heading-primary--font-weight, 700 );
	font-style: var( --cfe-heading-primary--font-style );
	font-variant: var( --cfe-heading-primary--font-variant );
	line-height: var( --cfe-heading-primary--line-height );
	letter-spacing: var( --cfe-heading-primary--letter-spacing );
	word-spacing: var( --cfe-heading-primary--word-spacing );
	-webkit-text-decoration: var( --cfe-heading-primary--text-decoration );
			text-decoration: var( --cfe-heading-primary--text-decoration );
	text-transform: var( --cfe-heading-primary--text-transform );
	color: var( --cfe-heading-primary--text-color, var( --cfe-text-color ) );
}

h1 a,
h2 a {
	font-weight: var( --cfe-heading-primary--link--font-weight, inherit );
	-webkit-text-decoration: var( --cfe-link--text-decoration, none );
			text-decoration: var( --cfe-link--text-decoration, none );
	color: var( --cfe-heading-primary--link--text-color, var( --cfe-link--text-color ) );
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus {
	color: var( --cfe-heading-primary--link--action--text-color, var( --cfe-link--action--text-color ) );
}

h3,
h4 {
	font-family: var( --cfe-heading-secondary--font-family );
	font-size: var( --cfe-heading-secondary--font-size );
	font-weight: var( --cfe-heading-secondary--font-weight );
	font-style: var( --cfe-heading-secondary--font-style );
	font-variant: var( --cfe-heading-secondary--font-variant );
	line-height: var( --cfe-heading-secondary--line-height );
	letter-spacing: var( --cfe-heading-secondary--letter-spacing );
	word-spacing: var( --cfe-heading-secondary--word-spacing );
	-webkit-text-decoration: var( --cfe-heading-secondary--text-decoration );
			text-decoration: var( --cfe-heading-secondary--text-decoration );
	text-transform: var( --cfe-heading-secondary--text-transform );
	color: var( --cfe-heading-secondary--text-color, var( --cfe-text-color ) );
}

h5,
h6 {
	font-family: var( --cfe-heading-tertiary--font-family );
	font-size: var( --cfe-heading-tertiary--font-size, 1.125rem );
	font-weight: var( --cfe-heading-tertiary--font-weight, 700 );
	font-style: var( --cfe-heading-tertiary--font-style );
	font-variant: var( --cfe-heading-tertiary--font-variant );
	line-height: var( --cfe-heading-tertiary--line-height );
	letter-spacing: var( --cfe-heading-tertiary--letter-spacing );
	word-spacing: var( --cfe-heading-tertiary--word-spacing );
	-webkit-text-decoration: var( --cfe-heading-tertiary--text-decoration );
			text-decoration: var( --cfe-heading-tertiary--text-decoration );
	text-transform: var( --cfe-heading-tertiary--text-transform, none );
	color: var( --cfe-heading-tertiary--text-color, var( --cfe-text-color ) );
}

.btn {
	border-radius: 0px;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	background-color: var( --cfe-button--bg-color, var( --cfe-bg-color ) );
	border-color: var( --cfe-button--border-color, #555555 );
	color: var( --cfe-button--text-color, #333333 );

	&:hover,
	&:focus {
		background-color: var( --cfe-button--action--bg-color, #333333 );
		color: var( --cfe-button--action--text-color, #ffffff );
	}

	&.btn-primary {
		background-color: var( --cfe-button--primary--bg-color, var( --cfe-link--text-color ) );
		color: var( --cfe-button--primary--text-color, #ffffff );

		&:hover,
		&:focus {
			background-color: var( --cfe-button--primary--action--bg-color, var( --cfe-link--action--text-color ) );
			color: var( --cfe-button--primary--action--text-color, #ffffff );
		}
	}
}

.text-muted {
	color: var( --cfe-text-muted--text-color, #555555 ) !important;
}

@media ( prefers-color-scheme: dark ) {
	:root {
		--cfe-bg-color: #1e1e1e;
		--cfe-text-color: #eeeeee;
		--cfe-link--text-color: #ffffff;
		--cfe-link--action--text-color: #eeeeee;
		--cfe-heading-primary--text-color: #eeeeee;
		--cfe-heading-primary--link--text-color: #eeeeee;
		--cfe-heading-primary--link--action--text-color: #ffffff;
		--cfe-button--bg-color: #333333;
		--cfe-button--action--bg-color: #555555;
		--cfe-button--border-color: #888888;
		--cfe-button--text-color: #ffffff;
		--cfe-button--primary--bg-color: #555555;
		--cfe-button--primary--action--bg-color: #888888;
		--cfe-button--primary--text-color: #ffffff;
		--cfe-button--primary--action--text-color: #ffffff;
		--cfe-text-muted--text-color: #cccccc;
	}
}

#admin-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: capitalize;

		&.text-uppercase {
			text-transform: capitalize;
		}
	}
}

.avatar {
	border-radius: 50%;
}

// Icons.
.fa {
	display: inline-block;
	margin-right: 0.5rem;
	line-height: inherit;
}

.admin-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.admin-content {
	width: 100%;
	max-width: 1280px;
	padding: 2rem;
}

// Admin menu.
.admin-menu {
	min-width: 200px;
	margin: 0;
	padding: 2rem 0;
	background-color: #333333;

	.admin-menu-list {
		margin: 0;
		padding: 0;

		li {
			margin: 0;

			a {
				display: flex;
				align-items: center;
				padding: 0.25rem 1rem;
				color: var( --cfe-admin--menu--link--text-color, #ffffff );
				text-decoration: none;

				&:hover,
				&:focus {
					background-color: #555555;
					color: var( --cfe-admin--menu--link--action--text-color, #ffffff );
				}

				// FontAwesome icons.
				.fa {
					font-size: 1.25em;
				}
			}

			&.menu-heading {
				margin: 0.5rem 0 0 0;
				font-size: 1.125rem;
				font-weight: 700;

				&:first-of-type {
					margin: 0;
				}

				&:not( :first-of-type ) {
					border-top: solid 1px rgba( $color: white, $alpha: 0.125 );
				}

				h3 {
					font-size: 1.125rem;
					font-weight: 700;
				}

				a {
					padding: 0.5rem 1rem;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}
	}
}

// User toolbar.
.admin-toolbar {
	position: fixed;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: 2rem;
	overflow: visible;
	padding: 0.5rem 1rem;
	line-height: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #333333;
	color: #ffffff;

	ul {
		list-style: none;
		margin: 0;

		&.admin-toolbar-nav-list {
			display: flex;
			gap: 0.5rem;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0;
			padding: 0;
			max-height: 2rem;
			font-size: 15px;
			font-weight: 600;

			&:hover {
				ul {
					left: 0;

					&.user-actions-sublist {
						left: auto;
						right: 0;
					}
				}
			}

			a {
				display: inline-block;
				padding: 0 0.5rem;
				color: #ffffff;
				text-decoration: none;

				span {
					display: inline-block;
				}

				&.admin-toolbar-logo-link {
					height: 2rem;
					display: inline-flex;
					align-items: center;
				}
			}

			.toolbar-icon {
				font-size: 1.25rem;
			}
		}

		ul {
			display: block;
			position: absolute;
			top: 100%;
			left: -9999em;
			padding: 0.5rem 0;
			width: 160px;
			background-color: #333333;

			&.user-actions-sublist {
				left: auto;
				right: -9999em;
			}

			li {
				margin: 0;

				a {
					display: block;
					padding: 0 1rem;

					&:hover {
						background-color: #555555;
					}
				}
			}
		}

		img {
			display: inline-block;

			&.toolbar-avatar {
				margin: 0 0.5em;
			}
		}
	}

	.admin-toolbar-logo {
		max-height: 24px;
	}
}

.form-heading {
	margin: 1rem 0;
	font-size: 1.125rem;
	font-weight: 700;
}

/*
	AUTOCOMPLETE SEARCH
*/
.search-suggestion {
	padding: 5px;
}

.search-suggestion-options {
	font-size: 0.9em;
	padding-top: 2px;
}

/*
	BOOTSTRAP Hacks
*/

@media ( min-width: 1200px ) {
	.container {
		max-width: 1250px;
	}
}

/* for small devices */
@media ( max-width: 575.98px ) {

	#jsmediaManagerButton,
	#jscategoryButton,
	#jsdescriptionButton {
		width: 100%;
		text-align: left;
	}
}

.btn-light {
	color: #212529;
	background-color: #f3f3f3;
	border-color: #ced4d9;
}

.btn-form {
	background-color: #F3F3F3;
	border-color: #DDD;
	color: #000;
}

.btn-form:hover {
	background-color: rgb(228, 228, 228);
	border-color: #DDD;
	color: #000;
}



code {
	padding: 3px 5px 2px;
	margin: 0 1px;
	background: #eaeaea;
	background: rgba(0, 0, 0, .07);
	color: #444;
}

.list-group-sortable {
	cursor: pointer;
}

.modal-body {
	padding: 2rem;
}

.modal-footer {
	background-color: rgb(247, 247, 247);
}

.modal-dialog .btn-link {
	color: #000;
}

/*
	LOGIN
*/

body.login {
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 53%);
	height: 100%;
}


/*
	DASHBOARD
*/

#dashboard ul.list-group.list-group-striped li {
	border: none;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#dashboard ul.list-group.list-group-striped li:nth-of-type(even) {
	background: #f1f1f1;

}

#dashboard div.quick-links-icons {
	font-size: 3em;
	width: 100%;
}

#dashboard a.quick-links {
	color: #777;
}

#dashboard a.quick-links:hover {
	text-decoration: none;
	color: #4586d4;
}

#hello-message {
	padding: 10px 0;
	margin-bottom: 20px;
}

#hello-message span.oi {
	top: 3px;
}

.ct-series-a .ct-line {
	/* Set the colour of this series line */
	stroke: #4a90e2;
	/* Control the thikness of your lines */
	stroke-width: 2px;
	/* Create a dashed line with a pattern */
}

.ct-series-a .ct-point {
	/* Colour of your points */
	stroke: #4a90e2;
	/* Size of your points */
	stroke-width: 8px;
}

/*
	ALERT
*/

#alert {
	display: none;
	position: fixed;
	text-align: center;
	border-radius: 0px;
	border: 0;
	z-index: 1000;
	bottom: 0;
	right: 0;
	margin: 0;
}

.alert-success {
	background-color: #4586d4;
	border-left: 6px solid #abd1ff !important;
	color: #ffffff;
}

.alert-danger {
	background-color: #d44545;
	border-left: 6px solid #ff9c9c !important;
	color: #ffffff;
}



/*
	PLUGINS
*/

.plugin-form label {
	display: block;
	margin-top: 1rem !important;
}

.plugin-form input[type="text"],
.plugin-form textarea,
.plugin-form select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.plugin-form textarea {
	min-height: 120px;
}

.plugin-form span.tip {
	display: block;
	font-size: 80%;
	font-weight: 400;
	margin-top: .25rem;
	color: #6c757d !important;
}

/*
	Manage > Content
*/

td.child {
	padding-left: 30px;
}

/*
	Manage > New Content
*/

#jseditor {
	background: #fff;
	padding: 10px 5% !important;
	font-size: 16px;
	line-height: 1.5em;
	border: 1px solid #ced4da;
}

#jseditorSidebar {
	display: none;
	height: calc(100% - 45px);
	width: 50%;
	max-width: 350px;
	position: absolute;
	z-index: 50;
	top: 45px;
	right: 15px;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

@media (max-width: 575.98px) {
	#jseditorSidebar {
		width: 100%;
		max-width: 100%;
		right: 0;
	}

	#jseditorToolbarRight button {
		font-size: 0px !important;
	}

	#jseditorToolbarRight button span {
		font-size: 16px !important;
	}

	.contentTools .btn {
		font-size: 0px !important;
		margin-right: 5px;
	}

	.contentTools .btn span {
		font-size: 16px !important;
	}
}

#jseditorSidebar nav {
	background: #f3f3f3;
}

#jseditorSidebar nav a {
	color: #000;
}

#jseditorSidebar .nav-tabs .nav-link {
	border: none;
}

#jseditorSidebar .nav-link.active {
	background: none;
	border: none;
	border-bottom: 3px solid #ccc;
}

#jsshadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(72, 72, 72, 0.7);
	z-index: 10;
	display: none;
}

img.profilePicture {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #ccc;
}

/* Switch button */
.switch-button {
	font-size: 0.9em;
	text-transform: uppercase;
	cursor: pointer;
}

.switch-icon-publish {
	color: #1cb11c;
}

code.select {
	user-select: all;
}

select[disabled] {
	cursor: not-allowed;
}

.form-range-controls {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1em;
	width: 100%;
	margin: 0;
	padding: 0 15px;

	.form-control-range {
		max-width: 320px;
	}
}

.form-range-small {
	display: inline-block;
	padding: 0 15px;
}

// Value readout for range input.
.form-range-value {
	display: inline-block;
	padding: .375rem 1ch;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;

	&.px-range-value {
		min-width: 7ch;
	}

	&.rem-range-value {
		min-width: 10ch;
	}
}

// Image fields.
.image-field-preview {
	display: block;
	width: 100%;
	max-width: 80px;
	height: auto;
}

// Hide options link icon in mobile menu.
@media ( max-width: 991px ) {
	.theme-options-icon {
		display: none;
	}
}

@media ( min-width: 576px ) {
	.col-sm-4 {
		align-items: center;
		gap: 0.5rem;

		&.row {
			margin: 0;
		}

		.btn-sm {

			// Line height + padding top & bottom.
			max-height: 2rem;
		}
	}
}
