///
/// Right to left language styles.
///

// Info tabs.
.info-plugin-installed {
	margin-left: unset;
	margin-right: 0.5em;
}

#to-top {
	left: var( --cfe-to-top--left--rtl, 2rem );
	right: var( --cfe-to-top--right--rtl, auto );
}
