///
/// Page content styles
///
/// Contains styles for specific screens.
///

#admin-content {
	position: relative;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: capitalize;

		&.text-uppercase {
			text-transform: capitalize;
		}
	}

	.page-title-icon {
		display: none;
	}
}

h6 {
	font-family: var( --cfe-heading-secondary--font-family, inherit );
	font-size: var( --cfe-heading-secondary--font-size, 1.375rem );
	font-weight: var( --cfe-heading-secondary--font-weight, 700 );
	font-style: var( --cfe-heading-secondary--font-style, inherit );
	font-variant: var( --cfe-heading-secondary--font-variant, inherit );
	line-height: var( --cfe-heading-secondary--line-height, inherit );
	letter-spacing: var( --cfe-heading-secondary--letter-spacing, normal );
	word-spacing: var( --cfe-heading-secondary--word-spacing, -0.0325em );
	text-decoration: var( --cfe-heading-secondary--text-decoration );
	text-transform: var( --cfe-heading-secondary--text-transform );
	color: var( --cfe-heading-secondary--text-color, var( --cfe-body--text-color ) );

	@media ( prefers-color-scheme: dark ) {
		color: var( --cfe-heading-secondary--text-color--dark, var( --cfe-body--text-color--dark ) );
	}

	border: none !important;

	&.border-bottom {
		border: none !important;
	}
}

.tab-content {
	h4 {
		font-size: 1rem;
	}
}

.tab-pane {
	ul,
	ol {
		padding: 0 0 0 1em;
	}
}

.rtl {
	.tab-pane {
		ul,
		ol {
			padding: 0 1em 0 0;
		}
	}
}

.pagination {
	display: flex;
	gap: 0.25rem;
}

.search-suggestion {
	padding: 5px;
}

.search-suggestion-options {
	font-size: 0.9em;
	padding-top: 2px;
}

.list-group-sortable {
	list-style: none;
	cursor: move;

	li {
		padding: 1rem;

		&:not( :first-of-type ) {
			border-top: var( --cfe-box--border-style ) var( --cfe-box--border-width ) var( --cfe-box--border-color );
		}

		&:hover {
			color: var( --cfe-link--text-color );
		}

		&.sortable-dragging {
			background-color: #cce5ff;
		}
	}
}

// Dashboard.
#dashboard {
	.list-group.list-group-striped {
		list-style: none;

		li {
			&:first-of-type {
				margin: 0 0 1rem 0;
			}

			&:not( :first-of-type ) {
				padding: 0.5rem 1rem;
			}

			&:nth-of-type( even ) {
				background-color: var( --cfe-striped--bg-color, #eeeeee );
			}
		}
	}

	#hello-message {
		.fa {
			display: none !important;
		}
	}

	#jsclippyContainer {
		padding: 0 0 3rem 0;

		div {
			padding: 0;
		}
	}

	.search-suggestion-options {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.quick-links-icons {
		font-size: 3em;
		width: 100%;
	}
}

.database-list {
	margin-top: 2rem;

	h2 {
		font-family: var( --cfe-heading-secondary--font-family );
		font-size: var( --cfe-heading-secondary--font-size );
		font-weight: var( --cfe-heading-secondary--font-weight );
		font-style: var( --cfe-heading-secondary--font-style );
		font-variant: var( --cfe-heading-secondary--font-variant );
		line-height: var( --cfe-heading-secondary--line-height );
		letter-spacing: var( --cfe-heading-secondary--letter-spacing );
		word-spacing: var( --cfe-heading-secondary--word-spacing );
		-webkit-text-decoration: var( --cfe-heading-secondary--text-decoration );
				text-decoration: var( --cfe-heading-secondary--text-decoration );
		text-transform: var( --cfe-heading-secondary--text-transform );
		color: var( --cfe-heading-secondary--text-color, var( --cfe-text-color ) );
	}

	p {
		margin: 0;
	}

	ul {
		list-style: none;

		li {
			padding: 0.25em 0.5em;

			&:nth-of-type(odd) {
				background-color: $off_white;
			}
		}

		span {
			display: inline-block;
		}
	}

	.option-name {
		font-family: var( --cfe-fonts--monospace-stack, monospace );
		font-weight: 500;
	}

	.option-value {
		font-weight: 600;
	}
}

// Plugins screen.
.admin-page-plugins {

	td {
		div {
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}
}

h1 + a,
h2 + a,
table a {
	text-decoration: none;
}

.table thead th {
	text-transform: capitalize !important;
	font-family: var( --cfe-fonts--display-stack );
	font-size: var( --cfe-tabs--list--link--font-size );
	font-weight: var( --cfe-display--font-weight );
	font-style: var( --cfe-tabs--list--link--font-style, normal );
	font-variant: var( --cfe-tabs--list--link--font-variant );
	line-height: var( --cfe-tabs--list--link--line-height, 1 );
	letter-spacing: var( --cfe-display--letter-spacing );
	word-spacing: var( --cfe-tabs--list--link--word-spacing, normal );
}

// User.
#security .form-group .col-sm-10 {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	button {
		margin: 0 !important;
	}
}

#picture .row {
	flex-direction: column;
	gap: 1rem;
}

// Content management screen.
.admin-page-plugins-position {
	.alert {
		padding: unset;
		background-color: unset;
		border: unset;
		color: unset;
	}

	td.child {
		padding: 0 0 0 1rem;
	}
}

// Rich text editor.
.tox.tox-tinymce {
	min-height: 400px !important;
}

#jseditorToolbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.25rem;

	@media ( max-width: $break-max_md ) {
		flex-direction: column-reverse;
	}
}

#jseditorToolbarLeft,
#jseditorToolbarRight {
	float: none;
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
}

#jseditorToolbarRight {
	button {
		span {
			display: none;
		}
	}
}

#jseditor {
	background: #fff;
	padding: 10px 5%;
	font-size: 16px;
	line-height: 1.5em;
	border: 1px solid #ced4da;
}

#jseditorSidebar {
	display: none;
	height: calc( 100% - 7rem );
	width: 480px;
	max-width: 480px;
	position: absolute;
	z-index: 50;
	top: 5rem;
	left: 2rem;
	padding: 0 1rem 1rem 1rem;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;

	label + * {
		margin-top: 0.5rem;
	}

	.nav-link {
		transform: translateY( 1px );
	}

	.tab-pane#nav-general {

		div {
			&:last-of-type {
				width: 100%;
				margin: 1rem 0 0 0;
				display: flex;
				justify-content: center;
				gap: 0.5rem;

				button {
					text-transform: capitalize;
				}
			}
		}
	}

	.tab-content {
		&.pr-3,
		&.pl-3,
		&.pb-3 {
			padding: 0 !important;
		}
	}
}

@media ( max-width: $break-max-sm ) {

	#jseditorSidebar {
		width: 100%;
		max-width: 100%;
		right: 0;
	}

	.contentTools .btn {
		font-size: 0px;
		margin-right: 5px;
	}

	.contentTools .btn span {
		font-size: 16px;
	}
}

#jsshadow {
	z-index: 10;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var( --cfe-modal-overlay--bg-color, rgba( $color: black, $alpha: 0.625 ) );
}

img.profilePicture {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #ccc;
}

/// New content status
///
/// Switches between publish and draft.
///
.switch-button {
	display: var( --cfe-button--display, inline-block );
	width: var( --cfe-button--width, auto );
	margin: var( --cfe-button--margin );
	padding: var( --cfe-button--padding, 0.5rem );
	line-height: var( --cfe-button--line-height, 1);
	font-family: var( --cfe-button--font-family, var( --cfe-font-stack, var( --cfe-sans-stack, sans-serif ) ) );
	font-size: var( --cfe-button--font-size, 1rem );
	font-weight: var( --cfe-button--font-weight, 600 );
	font-style: var( --cfe-button--font-style, normal );
	font-variant: var( --cfe-button--font-variant, normal );
	letter-spacing: var( --cfe-button--letter-spacing, normal );
	word-spacing: var( --cfe-button--word-spacing, normal );
	text-decoration: var( --cfe-button--text-decoration, none );
	text-transform: capitalize !important;
	background-color: var( --cfe-button--bg-color, var( --cfe-body--bg-color, inherit ) );
	border: solid 1px var( --cfe-button--border-color, #555555 );
	color: var( --cfe-button--text-color, var( --cfe-text-color, #333333 ) );
	transition: var( --cfe-button--transition, all 0.15s ease-in-out );
	cursor: var( --cfe-button--cursor, pointer );

	&:hover,
	&:focus {
		background-color: var( --cfe-button--action--bg-color, #333333 );
		border-color: var( --cfe-button--action--border-color, #555555 );
		color: var( --cfe-button--action--text-color, #ffffff );
	}

	// Square icon.
	.switch-icon-publish,
	.switch-icon-draft {
		display: none;
	}
}

///
/// Settings screen/tabs
///

// Logo image.
#jssiteLogoPreview {
	display: block;
	max-width: 320px;

	@media ( max-width: $break-max-lg ) {
		margin-top: 2rem;
	}
}

// Remove logo button.
#jsbuttonRemoveLogo {
	max-width: 160px;
	margin-top: 0.5rem;
}

///
/// User edt screen/tabs
///

// Logo image.
#jsprofilePicturePreview {
	display: block;
	max-width: 320px;

	@media ( max-width: $break-max-lg ) {
		margin-top: 2rem;
	}
}

///
/// System info/developers page.
///
.admin-page-developers {
	h2 {
		font-family: var( --cfe-heading-secondary--font-family, inherit );
		font-size: var( --cfe-heading-secondary--font-size, 1.375rem );
		font-weight: var( --cfe-heading-secondary--font-weight, 700 );
		font-style: var( --cfe-heading-secondary--font-style, inherit );
		font-variant: var( --cfe-heading-secondary--font-variant, inherit );
		line-height: var( --cfe-heading-secondary--line-height, inherit );
		letter-spacing: var( --cfe-heading-secondary--letter-spacing, normal );
		word-spacing: var( --cfe-heading-secondary--word-spacing, -0.0325em );
		text-decoration: var( --cfe-heading-secondary--text-decoration );
		text-transform: var( --cfe-heading-secondary--text-transform );
		color: var( --cfe-heading-secondary--text-color, var( --cfe-body--text-color ) );

		@media ( prefers-color-scheme: dark ) {
			color: var( --cfe-heading-secondary--text-color--dark, var( --cfe-body--text-color--dark ) );
		}

		b {
			font-weight: var( --cfe-heading-secondary--font-weight, 700 );
		}
	}
}
