///
/// Login styles
///

html {
	height: 100%;
	margin: 0;
}

.bl-admin-login {
	height: 100%;
	padding: var( --cfe-spacing--vert ) var( --cfe-spacing--horz );
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		margin: 0;
		text-align: center;
		color: var( --cfe-heading-primary--text-color, var( --cfe-text-color ) ) !important;
	}

	form + p {
		display: none;
	}

	.site-logo {
		display: flex;
		justify-content: center;
	}

	.form-check {
		label {
			text-transform: capitalize;
		}
	}

	.login-site-link {
		margin: 0;
		text-align: right;
		transform: translateY( -4.25rem );

		.svg-icon {
			margin-left: 0.5em;
		}
	}
}
