///
/// Admin menu & user toolbar
///

// Admin menu.
.admin-menu {
	width: 200px;
	margin: 0;
	padding: 0 0 1rem 0;
	background-color: #333333;

	@media ( max-width: $break-max-lg ) {
		z-index: 10;
		overflow: visible;
		width: 3.25rem;
	}

	.admin-menu-list {
		margin: 0;
		padding: 0;

		li {
			margin: 0;

			@media ( max-width: $break-max-lg ) {
				margin: 0.325rem 0;
			}

			&.has-icon-link {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			a {
				width: 100%;
				max-width: 100%;
				height: 2.5em;
				display: inline-flex;
				flex-wrap: nowrap;
				align-items: center;
				gap: 0.5em;
				padding: 0.5em 1em;
				color: var( --cfe-admin--menu--link--text-color, #ffffff );
				text-decoration: none;
				transition: background-color .15s, color .15s;

				@media ( max-width: $break-max-lg ) {
					text-indent: -9999em;
					padding: 1em;
					gap: 1em;

					&:hover {
						text-indent: 0px;
						width: auto;
						max-width: unset;
						min-width: max-content;
					}
				}

				&.icon-link {
					width: auto;

					@media ( max-width: $break-max-lg ) {
						display: none;
					}

					span {
						margin: 0;
						text-align: center;
					}
				}

				&.current-link,
				&:hover,
				&:focus {
					background-color: #555555;
					color: var( --cfe-admin--menu--link--action--text-color, #ffffff );
				}

				.svg-icon {
					width: 1.25rem;
					margin: 0 0.25em 0 0;

					@media ( max-width: $break-max-lg ) {
						margin: 0;
						text-indent: 0px;

						svg {
							height: 1.25rem;
						}
					}
				}
			}

			&.menu-heading {
				margin: 0.5rem 0 0 0;
				font-size: 1.125rem;
				font-weight: 700;

				@media ( max-width: $break-max-lg ) {
					display: none;
				}

				&:first-of-type {
					margin: 0;
				}

				&:not( :first-of-type ) {
					border-top: solid 1px rgba( $color: white, $alpha: 0.125 );
				}

				h3 {
					width: 100%;
					font-size: 1.125rem;
					font-weight: 700;
				}

				a {
					padding: 0.5rem 1rem;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}
	}
}

// User toolbar.
.admin-toolbar {
	position: fixed;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: var( --cfe-toolbar--height );
	overflow: visible;
	padding: var( --cfe-toolbar--padding );
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: var( --cfe-toolbar--height );
	background-color: var( --cfe-toolbar--bg-color );
	color: var( --cfe-toolbar--text-color );

	ul {
		list-style: none;
		margin: 0;

		&.admin-toolbar-nav-list {
			display: flex;
			gap: 0;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0;
			padding: var( --cfe-toolbar--link--padding );
			max-height: 2rem;
			font-size: var( --cfe-toolbar--font-size );
			font-weight: var( --cfe-toolbar--font-weight );
			background-color: var( --cfe-toolbar--link--bg-color );
			color: var( --cfe-toolbar--link--text-color );

			&.has-submenu {
				display: inline-flex;
				align-items: center;
				gap: 0 0.5em;
				cursor: pointer;
			}

			&:hover,
			&:focus {
				background-color: var( --cfe-toolbar--link--action--bg-color );
				color: var( --cfe-toolbar--link--action--text-color );
			}

			&:hover {
				ul {
					left: 0;

					&.user-actions-sublist {
						left: auto;
						right: 0;
					}
				}
			}

			span {
				display: inline-block;

				&.svg-icon {
					cursor: pointer;
				}
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 0.5em;
				text-decoration: none;
				color: var( --cfe-toolbar--link--text-color );

				&:hover {
					background-color: var( --cfe-toolbar--link--action--bg-color );
					color: var( --cfe-toolbar--link--action--text-color );
				}

				&.admin-toolbar-logo-link {
					height: var( --cfe-toolbar--height );
					display: inline-flex;
					align-items: center;
				}
			}
		}

		ul {
			display: block;
			position: absolute;
			top: 100%;
			left: -9999em;
			padding: 0.5rem 0;
			width: 160px;
			background-color: #555555;

			&.user-actions-sublist {
				left: auto;
				right: -9999em;
			}

			li {
				margin: 0;
				max-height: 100%;
				padding: 0;
				background-color: transparent;
				color: transparent;

				a {
					display: block;
					padding: 0 1rem;

					&:hover,
					&:focus {
						background-color: #888888;
					}
				}
			}
		}

		img {
			display: inline-block;

			&.toolbar-avatar {
				margin: 0 0.5em;
			}
		}
	}

	.admin-toolbar-logo {
		max-height: 24px;
	}
}
